<div class="footer">
	<div class="footer-top">
		<div class="wrap">
			<div class="section group example">
				<div class="col_1_of_2 span_1_of_2">
					<ul class="f-list">
						<li><img src="{{ asset('assetsAPI/images/2.png') }}"><span class="f-text">{{ "Free Shipping on orders over"|trans }} $ 100</span>
							<div class="clear"></div>
						</li>
					</ul>
				</div>
				<div class="col_1_of_2 span_1_of_2">
					<ul class="f-list">
						<li><img src="{{ asset('assetsAPI/images/3.png') }}"><span class="f-text">{{ "Call us"|trans }}! {{ "toll free"|trans }}-222-555-6666 </span>
							<div class="clear"></div>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="footer-middle">
		<div class="wrap">

			<div class="section group example">
				<div class="col_1_of_f_1 span_1_of_f_1">
					<div class="section group example">
						<div class="col_1_of_f_2 span_1_of_f_2">
							<h3>Facebook</h3>
							<script>
								(function (d, s, id) {
									var js, fjs = d.getElementsByTagName(s)[0];
									if (d.getElementById(id)) return;
									js = d.createElement(s);
									js.id = id;
									js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
									fjs.parentNode.insertBefore(js, fjs);
								}(document, 'script', 'facebook-jssdk'));
							</script>
							<div class="like_box">
								<div class="fb-like-box" data-href="http://www.facebook.com/w3layouts"
									data-colorscheme="light" data-show-faces="true" data-header="true"
									data-stream="false" data-show-border="true"></div>
							</div>
						</div>
						<div class="col_1_of_f_2 span_1_of_f_2">
							<h3>Twitter</h3>
							<div class="recent-tweet">
								<div class="recent-tweet-icon">
									<span> </span>
								</div>
								<div class="recent-tweet-info">
									<p>{{ "Ds which don't look even slightly believable. If you are"|trans }} <a href="#">{{ "going to use nibh euismod"|trans }}</a></p>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="recent-tweet">
								<div class="recent-tweet-icon">
									<span> </span>
								</div>
								<div class="recent-tweet-info">
									<p>{{ "Ds which don't look even slightly believable. If you are"|trans }} <a href="#">{{ "going to use nibh euismod"|trans }}</a></p>
								</div>
								<div class="clear"> </div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col_1_of_f_1 span_1_of_f_1">
					<div class="section group example">
						<div class="col_1_of_f_2 span_1_of_f_2">
							<h3>{{ "Information"|trans }}</h3>
							<ul class="f-list1">
								<li><a href="#">{{ "policy"|trans }}</a></li>
								<li><a href="#">{{ "security"|trans }} </a></li>
								<li><a href="#">{{ "note"|trans }}</a></li>
								<li><a href="#">{{ "Duis autem vel eum iriure"|trans }} </a></li>
								<li><a href="#">{{ "evaluate"|trans }} </a></li>
							</ul>
						</div>
						<div class="col_1_of_f_2 span_1_of_f_2">
							<h3>{{ "Contact us"|trans }}</h3>
							<div class="company_address">
								<p>{{ "500 Lorem Ipsum Dolor Sit"|trans }},</p>
								<p>22-56-2-9 Sit Amet, Lorem,</p>
								<p>USA</p>
								<p>Phone:(00) 222 666 444</p>
								<p>Fax: (000) 000 00 00 0</p>
								<p>Email: <span>mail[at]leoshop.com</span></p>

							</div>
							<div class="social-media">
								<ul>
									<li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a
												href="#" target="_blank"> </a></span></li>
									<li><span class="simptip-position-bottom simptip-movable"
											data-tooltip="Linked in"><a href="#" target="_blank"> </a> </span></li>
									<li><span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><a
												href="#" target="_blank"> </a></span></li>
									<li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a
												href="#" target="_blank"> </a></span></li>
								</ul>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="wrap">
			<div class="copy">
				<p>© 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
			</div>
			<div class="f-list2">
				<ul>
					<li class="active"><a href="about.html">About Us</a></li> |
					<li><a href="delivery.html">Delivery & Returns</a></li> |
					<li><a href="delivery.html">Terms & Conditions</a></li> |
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</div>
			<div class="clear"></div>
			<!-- All Javascript here  -->
			<script src="{{ asset('loadingPage/js_loader.js') }}"></script>
			<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

			<!-- gg reCaptcha -->
			<script type="text/javascript">
				function onGoogleReCaptchaApiLoad() {
					var widgets = document.querySelectorAll('[data-toggle="recaptcha"]');
					for (var i = 0; i < widgets.length; i++) {
						renderReCaptcha(widgets[i]);
					}
				}
				function bindChallengeToSubmitButtons(form, reCaptchaId) {
					getSubmitButtons(form).forEach(function (button) {
						button.addEventListener('click', function (e) {
							e.preventDefault();
							grecaptcha.execute(reCaptchaId);
						});
					});
				}
				function getSubmitButtons(form) {
					var buttons = form.querySelectorAll('button, input');
					var submitButtons = [];

					for (var i= 0; i < buttons.length; i++) {
						var button = buttons[i];
						if (button.getAttribute('type') == 'submit') {
							submitButtons.push(button);
						}
					}
					return submitButtons;
				}
			</script>
			<!-- grecaptcha -->
  			<script src="https://www.google.com/recaptcha/api.js" async defer></script>
			<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit&hl={{app.request.locale}}" async defer></script>
		</div>
	</div>
</div>